extend page


block title
  title #{title}

block meta
  meta(property="description" content=desc)
    
  meta(name="og:url"         content=url)
  if (image)
    meta(name="og:image"     content=image)
  meta(name="og:title"       content=title)
  meta(name="og:description" content=desc)

block content

  .jumbotron
    .container
      .row
        .col-md-12
          include menu
          .page-header
            h1
              a(href="/") jsunderhood
              small= " / "
                = title
            p.hidden-xs Коллективный твиттер-аккаунт для фронтенд-разработчиков с новым автором каждую неделю
      .row.hidden-xs
        .col-md-12
            = "Поделитесь c "
            a(href="https://twitter.com/intent/tweet?url=http://jsunderhood.ru/#{url}&text=#{title}&via=jsunderhood") фолловерами в Twitter
            = " и друзьями в "
            a(href="https://www.facebook.com/sharer.php?u=http://jsunderhood.ru/#{url}&t=#{title}") Facebook
            = " или "
            a(href="http://vk.com/share.php?url=http://2be7331a.ngrok.com/#{url}&title=#{title}") ВКонтакте
  
  .container
    .row
      .col-md-6.col-md-offset-3
        article
          | !{content}
