extend page

block title
  title= site.title

block meta
  meta(property="description" content=site.description)
  meta(name="og:url"          content=site.site_url)
  meta(name="og:image"        content="https://i.imgur.com/GpzEJQ7.jpg?1")
  meta(name="og:title"        content=site.title)
  meta(name="og:description"  content=site.description)

block headerTitle
  | jsunderhood
  small
    = " / "
    a(href="https://twitter.com/jsunderhood") Присоединяйся!

block content
  article.container
    each row in list
      .row(style="margin-bottom: 1em")
        each article in row
          .col-md-4
            div.row
              .col-md-2
                .row.text-center
                  - var img = "/images/"+article.title+"-image.jpg";
                  div.img-circle(style="width: 48px; height: 48px; background-image: url(" + img + "); background-size: cover; margin: 0 auto;")
              .col-md-10
                h2(style="margin: 0"): a(href=article.url)= "@" + article.title
                small
                  span.glyphicon.glyphicon-map-marker
                  = " " + article.authorInfo.location
            .row
              .col-md-12
                p.list__item-desc !{article.desc}
