extend page

block title
  title= site.title

block meta
  meta(property="description" content=site.description)
  meta(name="og:url"          content=site.site_url)
  meta(name="og:image"        content="https://i.imgur.com/GpzEJQ7.jpg?1")
  meta(name="og:title"        content=site.title)
  meta(name="og:description"  content=site.description)

block headerTitle
  | jsunderhood
  small
    = " / "
    a(href="https://twitter.com/jsunderhood") Присоединяйся!

block content  
  article.container
    each row in list
      .row
        each article in row
          .col-md-4
            a.row(href=article.url)
              .col-md-2
                .row
                  img.img-circle.img-responsive(src="https://pbs.twimg.com/profile_images/633196231959965696/6n61ORlP.png")
              .col-md-10
                h2.h3(style="margin: 5px 0") Вадим Макеев
                small= "@" + article.title
            .row
              .col-md-12
                p.list__item-desc !{article.desc}
