extend page

block title
  title @jsunderhood

block meta
  meta(property="description" content=site.description)

  meta(name="og:url"         content=site.site_url)
  //- meta(name="og:image"       content="http://getbem.com/img/bem_black.png")
  meta(name="og:title"       content=site.title)
  meta(name="og:description" content=site.description)

block content
  h1 @jsunderhood
  
  include menu
  
  article
    ul.list
      each article in list
        li.list__item
          a(href=article.url)= article.title
          time= article.date + " " 
          p.list__item-desc !{article.desc}
          
