extend page

block title
  title @jsunderhood

block meta
  meta(property="description" content=site.description)

  meta(name="og:url"         content=site.site_url)
  //- meta(name="og:image"       content="http://getbem.com/img/bem_black.png")
  meta(name="og:title"       content=site.title)
  meta(name="og:description" content=site.description)

block content
  .container
    h1 @jsunderhood
    
    include menu
  
  article.container
    each row in list
      .row
        each article in row
          div.col-md-4
            h2: a(href=article.url)= article.title
            small: time= article.date
            p.list__item-desc !{article.desc}
              
