span.text-danger= "★ "
a(href="https://twitter.com/intent/tweet?url=http://jsunderhood.ru/#{url}&text=#{title}&related=iamstarkov,shuvalov_anton") Твитнуть
= ", поделиться "
a(href="https://www.facebook.com/sharer.php?u=http://jsunderhood.ru/#{url}&t=#{title}") в Facebook
= " или "
a(href="http://vk.com/share.php?url=http://jsunderhood.ru/#{url}&title=#{title}") ВКонтакте
span.text-danger= " ★"
