.container
  .row
    .col-md-4.col-md-offset-4.text-center
        = "★ ★ ★"
        br
        = "Поделитесь c "
        a(href="https://twitter.com/intent/tweet?url=http://jsunderhood.ru/#{url}&text=#{title}&via=jsunderhood&related=jsunderhood,iamstarkov,shuvalov_anton,#{url}") фолловерами в Twitter
        = " и друзьями в "
        a(href="https://www.facebook.com/sharer.php?u=http://jsunderhood.ru/#{url}&t=#{title}") Facebook
        = " или "
        a(href="http://vk.com/share.php?url=http://2be7331a.ngrok.com/#{url}&title=#{title}") ВКонтакте
