span.text-danger= "★ "
a(href="https://twitter.com/intent/tweet?url=http://jsunderhood.ru/#{url}&text=#{title}&via=jsunderhood&related=jsunderhood,iamstarkov,shuvalov_anton,#{url}") Твитнуть
= ", поделиться "
a(href="https://www.facebook.com/sharer.php?u=http://jsunderhood.ru/#{url}&t=#{title}") в Facebook
= " или "
a(href="http://vk.com/share.php?url=http://2be7331a.ngrok.com/#{url}&title=#{title}") ВКонтакте
span.text-danger= " ★"
