extend page

block title
  title @jsunderhood

block meta
  meta(property="description" content=site.description)

  meta(name="og:url"         content=site.site_url)
  //- meta(name="og:image"       content="http://getbem.com/img/bem_black.png")
  meta(name="og:title"       content=site.title)
  meta(name="og:description" content=site.description)

block content

  .jumbotron
    .container
      .row
        .col-md-12
          include menu
          .page-header
            h1 jsunderhood
              small  / Статистика
            p Коллективный твиттер-аккаунт для фронтенд-разработчиков с новым автором каждую неделю
      .row
        .col-md-12
            = "Поделитесь c "
            a(href="https://twitter.com/intent/tweet?url=http://jsunderhood.ru/#{url}&text=#{title}&via=jsunderhood") фолловерами в Twitter
            = " и друзьями в "
            a(href="https://www.facebook.com/sharer.php?u=http://jsunderhood.ru/#{url}&t=#{title}") Facebook
            = " или "
            a(href="http://vk.com/share.php?url=http://2be7331a.ngrok.com/#{url}&title=#{title}") ВКонтакте
  
  .container
    .row
      .col-md-12
        .table-responsive
          table.table.table-hover
            thead
              tr
                th Автор
                th.text-right
                  i.glyphicon.glyphicon-user
                  span.visible-lg-inline.visible-md-inline
                    |  Привёл
                    br
                    | подписчиков
                th(colspan=2)
                  i.glyphicon.glyphicon-comment
                  span  Твиты
                th
                  nobr
                    i.glyphicon.glyphicon-retweet
                    span.visible-lg-inline.visible-md-inline  Ретвитнут
                th
                  nobr
                    i.glyphicon.glyphicon-star
                    span.visible-lg-inline.visible-md-inline
                      |  Добавлен
                      br
                      | в избранное
            tbody
              each author, index in stats
                - var indexClass = index===0 ? 'progress-bar-striped active' : '';
                tr
                  td
                    nobr
                      span.hidden-xs.hidden-sm= author.index + " "
                      if (index === 0)
                        a(href='https://twitter.com/jsunderhood') @#{author.username}…
                      else 
                        a(href='/' + author.username) @#{author.username}
                  td.text-right
                    if author.gainedFollowers > 0
                      | +
                    = author.gainedFollowers
                  td= author.tweets
                  td(style="width: 100%")
                    .progress(style="margin-bottom: 0; min-width: 150px; width: 100%")
                      .progress-bar.progress-bar-primary(class=indexClass style="width: #{author.ownTweetsPercentage}%")
                        span.hidden-xs.hidden-sm Свои
                      .progress-bar.progress-bar-info(class=indexClass style="width: #{author.retweetsPercentage}%")
                        span.hidden-xs.hidden-sm RT
                      .progress-bar.progress-bar-success(class=indexClass style="width: #{author.repliesPercentage}%") 
                        span.hidden-xs.hidden-sm Ответы
                    nobr.hidden-xs.hidden-sm
                      span.text-primary #{author.ownTweets} cвоих твитов
                      = ", "
                      span.text-info #{author.retweets} ретвитов
                      = ", "
                      span.text-success #{author.replies} ответов
                  td
                    .progress(style="margin-bottom: 0; min-width: 50px")
                      .progress-bar(class=indexClass style="width: #{author.retweetedKpi*100}%")
                    nobr.hidden-xs.hidden-sm
                      = author.retweetedKpi
                      small.text-muted  / #{author.retweeted}
                  td
                    .progress(style="margin-bottom: 0; min-width: 50px")
                      .progress-bar(class=indexClass style="width: #{author.favoritedKpi*100}%")
                    nobr.hidden-xs.hidden-sm
                      = author.favoritedKpi
                      small.text-muted  / #{author.favorited}
