extend page

block title
  title @jsunderhood

block meta
  meta(property="description" content=site.description)

  meta(name="og:url"         content=site.site_url)
  //- meta(name="og:image"       content="http://getbem.com/img/bem_black.png")
  meta(name="og:title"       content=site.title)
  meta(name="og:description" content=site.description)

block content

  .jumbotron
    .container
      .row
        .col-md-12
          include menu
          .page-header
            h1 jsunderhood
              small  / Статистика
            p Коллективный твиттер-аккаунт для фронтенд-разработчиков с новым автором каждую неделю
      .row
        .col-md-12
            = "Поделитесь c "
            a(href="https://twitter.com/intent/tweet?url=http://jsunderhood.ru/#{url}&text=#{title}&via=jsunderhood") фолловерами в Twitter
            = " и друзьями в "
            a(href="https://www.facebook.com/sharer.php?u=http://jsunderhood.ru/#{url}&t=#{title}") Facebook
            = " или "
            a(href="http://vk.com/share.php?url=http://2be7331a.ngrok.com/#{url}&title=#{title}") ВКонтакте
  
  .container
    .row
      .col-md-12
        .table-responsive
          table.table.table-hover
            thead
              tr
                th(colspan=2) Автор
                th
                  i.glyphicon.glyphicon-user
                  span.visible-lg-inline.visible-md-inline  Привёл подписчиков
                th
                  i.glyphicon.glyphicon-comment
                  span.visible-lg-inline.visible-md-inline  Твиты
                th
                  i.glyphicon.glyphicon-retweet
                  span.visible-lg-inline.visible-md-inline  Был ретвитнут
                th
                  i.glyphicon.glyphicon-star
                  span.visible-lg-inline.visible-md-inline  Был добавлен в избранное
            tbody
              each author in stats
                tr
                  td.text-right= author.index
                  td: a(href='/' + author.username) @#{author.username}
                  td= author.gainedFollowers
                  td= author.total
                  td= author.retweeted
                    small  / #{author.retweetedKpi}
                  td= author.favorited
                    small  / #{author.favoritedKpi}
