extend page

block title
  title @jsunderhood

block meta
  meta(property="description" content=site.description)

  meta(name="og:url"         content=site.site_url)
  //- meta(name="og:image"       content="http://getbem.com/img/bem_black.png")
  meta(name="og:title"       content=site.title)
  meta(name="og:description" content=site.description)

block content

  .jumbotron
    .container
      .row
        .col-md-12
          include menu
          .page-header
            h1
              a(href="/") jsunderhood
              small= " / Статистика"
            p.hidden-xs Коллективный твиттер-аккаунт для фронтенд-разработчиков с новым автором каждую неделю
      .row.hidden-xs
        .col-md-12
            = "Поделитесь c "
            a(href="https://twitter.com/intent/tweet?url=http://jsunderhood.ru/#{url}&text=#{title}&via=jsunderhood") фолловерами в Twitter
            = " и друзьями в "
            a(href="https://www.facebook.com/sharer.php?u=http://jsunderhood.ru/#{url}&t=#{title}") Facebook
            = " или "
            a(href="http://vk.com/share.php?url=http://2be7331a.ngrok.com/#{url}&title=#{title}") ВКонтакте
  style
    | th { cursor: pointer; }
    | th.no-sort { cursor: default; }
    | th .sort-icon { display: none; }
    | th.sort-up .sort-down { display: inline; }
    | th.sort-down   .sort-up   { display: inline; }
  .container
    .row
      .col-md-12
        .table-responsive
          table.table.table-hover.js-table-stat
            thead
              tr
                th Автор
                  small.sort-icon.sort-up= " ↑"
                  small.sort-icon.sort-down= " ↓"
                th.text-right
                  small.sort-icon.sort-up= "↑ "
                  small.sort-icon.sort-down= "↓ "
                  i.glyphicon.glyphicon-user
                  span.visible-lg-inline.visible-md-inline
                    |  Привёл
                    br
                    | подписчиков
                th.text-right
                  nobr
                    small.sort-icon.sort-up= "↑ "
                    small.sort-icon.sort-down= "↓ "
                    i.glyphicon.glyphicon-comment
                th.no-sort
                  span Твиты
                th
                  nobr
                    i.glyphicon.glyphicon-retweet
                    span.visible-lg-inline.visible-md-inline  Ретвитнут
                    small.sort-icon.sort-up= " ↑"
                    small.sort-icon.sort-down= " ↓"
                th
                  nobr
                    i.glyphicon.glyphicon-star
                    span.visible-lg-inline.visible-md-inline
                      |  Добавлен
                      br
                      | в избранное
                    small.sort-icon.sort-up= " ↑"
                    small.sort-icon.sort-down= " ↓"
            tbody
              each author, index in stats
                - var indexClass = index===0 ? 'progress-bar-striped active' : '';
                tr
                  td(data-sort="#{author.index}")
                    nobr
                      span.hidden-xs.hidden-sm= author.index + " "
                      if (index === 0)
                        a(href='https://twitter.com/jsunderhood') @#{author.username}…
                      else 
                        a(href='/' + author.username) @#{author.username}
                  td.text-right(data-sort="#{author.gainedFollowers}")
                    nobr
                      if author.gainedFollowers > 0
                        | +
                      = author.gainedFollowers
                      if author.maxGainedFollowers
                        small.text-danger= " ★"
                  td(data-sort="#{author.tweets}").text-right
                    nobr
                      = author.tweets
                      if author.maxTweets
                        small.text-danger= " ★"
                  td(style="width: 100%")
                    .progress(style="margin-bottom: 0; min-width: 150px; width: 100%")
                      .progress-bar.progress-bar-primary(class=indexClass style="width: #{author.ownTweetsPercentage}%")
                        if author.maxOwnTweetsPercentage
                          small= "★ "
                        span.hidden-xs.hidden-sm Свои
                      .progress-bar.progress-bar-info(class=indexClass style="width: #{author.retweetsPercentage}%")
                        if author.maxRetweetsPercentage
                          small= "★ "
                        span.hidden-xs.hidden-sm RT
                      .progress-bar.progress-bar-success(class=indexClass style="width: #{author.repliesPercentage}%")
                        if author.maxRepliesPercentage
                          small= "★ "
                        span.hidden-xs.hidden-sm Ответы
                    nobr.hidden-xs.hidden-sm
                      span.text-primary
                        if author.maxOwnTweets
                          small.text-danger= "★ "
                        | #{author.ownTweets} cвоих твитов
                      = ", "
                      span.text-info
                        if author.maxRetweets
                          small.text-danger= "★ "
                        | #{author.retweets} ретвитов
                      = ", "
                      span.text-success
                        if author.maxReplies
                          small.text-danger= "★ "
                        | #{author.replies} ответов
                  td(data-sort="#{author.retweetedKpi}")
                    .progress(style="margin-bottom: 0; min-width: 50px")
                      .progress-bar(class=indexClass style="text-align: left !important; width: #{author.retweetedKpi*100}%")
                        if author.maxRetweetedKpi
                          small= "  ★"
                    nobr.hidden-xs.hidden-sm
                      = author.retweetedKpi
                      small.text-muted  / #{author.retweeted}
                  td(data-sort="#{author.favoritedKpi}")
                    .progress(style="margin-bottom: 0; min-width: 50px")
                      .progress-bar(class=indexClass style="text-align: left !important; width: #{author.favoritedKpi*100}%")
                        if author.maxFavoritedKpi
                          small= "  ★"
                    nobr.hidden-xs.hidden-sm
                      = author.favoritedKpi
                      small.text-muted  / #{author.favorited}

  script(src="//tristen.ca/tablesort/src/tablesort.js")
  script(src="//tristen.ca/tablesort/src/sorts/tablesort.numeric.js")
  script
    | new Tablesort(document.querySelector('.js-table-stat'));
