extend page

block title
  title @jsunderhood

block meta
  meta(property="description" content=site.description)

  meta(name="og:url"         content=site.site_url)
  //- meta(name="og:image"       content="http://getbem.com/img/bem_black.png")
  meta(name="og:title"       content=site.title)
  meta(name="og:description" content=site.description)

block content
  h1 @jsunderhood
  
  p
    a(href="/about/") About
    = " • "
    a(href="/rss.xml") Subscribe to RSS
    = " or "
    a(href="https://google.com/?q=site:jsunderhood.com+smth") search "smth"
    = " • "
    a(href="https://twitter.com/jsunderhood") Follow on Twitter
  
  article
    table.table.table-hover
      thead
        tr
          th(colspan=2) Автор
          th.text-right
            = "Привел подписчиков "
            i.glyphicon.glyphicon-user
          th
            i.glyphicon.glyphicon-comment
            |  Написал твиттов
          th.text-center
            i.glyphicon.glyphicon-retweet
            |  Ретвитнули
          th.text-center
            i.glyphicon.glyphicon-star
            |  Добавили в избранное
      tbody
        each author in stats
          tr
            td.text-right= author.index
            td: a(href='https://twitter.com/' + author.username) @#{author.username}
            td.text-right= author.gainedFollowers
            td= author.total
            td.text-center= author.retweeted
              //- small  kpi #{author.retweetedPerTweet}
            td.text-center= author.favorited
              //- small  kpi too
